In [39]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
#scraping webpage using bs4 to compile total streaming numbers for our playlist created
#from using API calls, bc Spotify doesn't have that data public for some reason

In [40]:
url = 'https://kworb.net/spotify/songs.html#:~:text=Spotify%20most%20streamed%20songs%20of%20all%20time.%20A%20website%20that'

In [41]:
url = 'https://kworb.net/spotify/songs.html#:~:text=Spotify%20most%20streamed%20songs%20of%20all%20time.%20A%20website%20that'  # Replace with your actual URL
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [42]:
# Find the table
table = soup.find('table', class_='addpos sortable')

# Find all <tr> elements within the <tbody>
rows = table.find('tbody').find_all('tr')

# Initialize a list to store the data
data = []

# Extract content from each <tr>
for row in rows:
    # Extract text from all <td> elements in the row
    columns = row.find_all('td')
    row_data = [col.text.strip() for col in columns]
    data.append(row_data)

# Create a DataFrame
total_streams_df = pd.DataFrame(data)

In [43]:
total_streams_df = pd.DataFrame(data)
total_streams_df

                                         0              1          2
0             The Weeknd - Blinding Lights  4,476,781,794  1,655,141
1                Ed Sheeran - Shape of You  4,025,659,740  1,042,846
2        Lewis Capaldi - Someone You Loved  3,600,377,350  1,713,897
3                 Harry Styles - As It Was  3,556,928,930  1,378,383
4                  Post Malone - Sunflower  3,529,967,597  1,375,291
...                                    ...            ...        ...
2495                alt-J - Left Hand Free    508,098,953    305,144
2496  The Strokes - The Adults Are Talking    507,866,576    465,216
2497                Jordin Sparks - No Air    507,700,914    239,349
2498                 Baby Bash - Suga Suga    507,597,264    216,907
2499                            Mora - 512    507,568,018    245,872

[2500 rows x 3 columns]

In [44]:
total_streams_df.to_csv('total_streams_df', index=False)

In [45]:
total_streams_df.rename(columns={0: 'zero'}, inplace=True)
total_streams_df.rename(columns={1: 'one'}, inplace=True)
total_streams_df.rename(columns={2: 'two'}, inplace=True)

In [47]:
#slicing to 895 to append to cleaned df in other file
first_895 = total_streams_df['one'].head(895)

In [49]:
first_895.to_csv('first_895.csv', index=False)